//fonts
@font-face {
    font-family: 'Didot-Bold';
    src: url('../fonts/didot-bold.eot');
    src: url('../fonts/didot-bold.eot?') format('eot'),
         url('../fonts/didot-bold.woff2') format('woff2'),
         url('../fonts/didot-bold.woff') format('woff'),
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../fonts/lato-bold.eot');
    src: url('../fonts/lato-bold.eot?') format('eot'),
         url('../fonts/lato-bold.woff2') format('woff2'),
         url('../fonts/lato-bold.woff') format('woff'),
}

@font-face {
    font-family: 'Lato-Black';
    src: url('../fonts/lato-black.eot');
    src: url('../fonts/lato-black.eot?') format('eot'),
         url('../fonts/lato-black.woff2') format('woff2'),
         url('../fonts/lato-black.woff') format('woff'),
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../fonts/lato-regular.eot');
    src: url('../fonts/lato-regular.eot?') format('eot'),
         url('../fonts/lato-regular.woff2') format('woff2'),
         url('../fonts/lato-regular.woff') format('woff'),
}

@font-face {
    font-family: 'Playfair-Display-Regular';
    src: url('../fonts/playfairdisplay-regular.eot');
    src: url('../fonts/playfairdisplay-regular.eot?') format('eot'),
         url('../fonts/playfairdisplay-regular.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular.woff') format('woff'),
}